*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    width: 100%;
    height: 1000px;
    overflow: hidden;

}
figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 25%;
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
   width: 100%;


}
.slide img{
    width: 100%;
    height: 500px;

}
@keyframes slide {
    0%{
        left: 0;
    }
    10% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    50% {
        left: -200%;
    }
    55% {
        left: -300%;
    }
    65% {
        left: -300%;
    }
    66% {
        left: -200%;
    }
    74% {
        left: -200%;
    }
    75% {
        left: -200%;
    }
    85% {
        left: -100%;
    }
    90% {
        left: -0%;
    }
    100% {
        left: -0%;
    }
}