*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
   -bg-color:#081b29;
   second-bg-color:#112e42;
   text-color:#ededed;
   main-color:#00abf0;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(-bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    margin-left: 30px;
    color: var(--text-color);
    font-weight: 600;
}

nav {
    margin-right: 20px;

}

.navber a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navber a:hover,
.navber a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    color: var(--text-color);
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-image: url(../Image_silder/assest/img_lights_wide1.jpg); no-repeat;
     background-size: cover;
     background-position: center;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem;

}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke:  .6px var(--main-color);
}


.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.btn-box btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}


.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content:  "";
    position: absolute;
    top:  0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 6rem;

}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.about {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0); 
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box .btns {
    display: inline-block;
    width: 15rem;
}

.btn-box .btn::before {
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
   
  padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    width: auto
}

/* #educationrow {
     position: relative;
     width: auto;
     flex: 1 1 40rem;
     flex-wrap: wrap;
     gap: 5rem;

} */

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.education-column .education-box {
    border-left:  .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content {
     position: relative;
     padding: 1.5rem;
     border: .2rem solid var(--main-color);
     border-radius: .6rem;
     border-bottom: 2rem;
     overflow: hidden;
}

.education-content .content::before {
    content:  "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

.skills {
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex : 2 2 40rem
}


.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover ::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: 5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);

}

.content {
    padding-bottom: 7rem;
}

.content form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.content form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.content form .input-box .input-field input , .content form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.content form .input-box .input-field input::placeholder, .content form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.content form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.content form .textarea-field textarea {
    resize:  none;
}

.content form .btn-box .btns .btn {
    cursor: pointer;
}

.content form .focus {
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.content form  .input-box .input-field .input:focus ~ .focus,
.content form  .input-box .input-field .input:valid ~ .focus,
.content form .textarea-field textarea:focus ~ .focus,
.content form .textarea-field textarea:valid ~ .focus {
       width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);


}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icontop a {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconstop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    transition: .5s ;
    z-index: -1;
}

.footer-iconstop a