body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000; */
}

main{
    margin:  5vh 15%;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
img{
    width: 40%;
    height: auto;
}
p{
    text-align: justify;
   font-size: 18px;
}
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border:  2px solid;
    border-radius: 20px;
    cursor: pointer;
}
label::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
   background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;

}
h4{
  position: absolute; 
  width: 100px; 
  height: 22px;
  right: 55px;
  top: 3px;
  cursor: pointer;
}
label.active::before{
    left: 24px;
    background-color:  #fff;
}
body.night{
    background-color: #000;
    color: #fff;
}