body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#board{
    /* background-color: skyblue; */
    background-image: url("assest//bg-img.png");
    background-size: cover;
}